.firstLevel{
    display: flex;
    flex-direction: column;
.secondLevel{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    .thirdLevel{
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        .fourthLevel{
            display: flex;
            flex-direction: column;
            padding-left: 30px;
        }
    }
}

}